body{
    background-image:url("bk.jpg");
    color: #ffffff;
    font-family:Lucida Console;
}



#CenterContainer{
    background-color:black;
    color:#ffffff;
    opacity: 0.8;
    filter: alpha(opacity=50);
    border-radius: 90px;
    width:70%;
    height: 70%;

}

button{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    border-radius: 90px;
    padding: 15px 32px;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

botoes{
    background-color:#333333;
    margin-bottom: 50px;
}

input{
    
    background-color: #333333;
    border-radius: 90px;
    align:center;
        font-size: 30px;
}
a:visited { 
   border-bottom:  transparent;
}
#footer p{
    font-weight: bold;
    color:black;
    float:left;
    margin-left: 80px;
    margin-top: 30px;
    float:bottom;
}
#footer img{
    height:60px;
    width:160px;
    float:right;
    margin-right: 80px;
    margin-top: 30px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
