
body{
    background-image:url("bk.jpg");
    color: #ffffff;
    font-family:Lucida Console;
}



#CenterContainer{
    background-color:black;
    color:#ffffff;
    opacity: 0.8;
    filter: alpha(opacity=50);
    border-radius: 90px;
    width:70%;


}
table{
    border-style: hidden;

}

td{
    border-style: hidden;

}
input{
    background-color:#1a1a1a;
    color:white;
    border: none;
    border-style: hidden;
    border-radius: 3px;
}

#wall input{
    background-color:transparent;;
}

button{

    color:white;
    background-color: black;
    border-radius: 7px;
    margin-top:4px;
    border-style: outset;
    border-color: #ffa366;
}

#footer img{
    height:60px;
    width:160px;
    float:right;
    margin-right: 80px;
    margin-top: 30px;
}
#footer p{
    font-weight: bold;
    color:black;
    float:left;
    margin-left: 80px;
    margin-top: 30px;
}




